<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.consumer.dao.UsersMapper" >
  <resultMap id="BaseResultMap" type="com.cloud.consumer.pojo.Users" >
    <id column="USERID" property="userid" jdbcType="INTEGER" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_PASSWORD" property="userPassword" jdbcType="VARCHAR" />
    <result column="ISEXPIRED" property="isexpired" jdbcType="VARCHAR" />
    <result column="ISLOCKED" property="islocked" jdbcType="VARCHAR" />
    <result column="CREAT_TIME" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="UPDATA_TIME" property="updataTime" jdbcType="TIMESTAMP" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    USERID, USER_NAME, USER_PASSWORD, ISEXPIRED, ISLOCKED, CREAT_TIME, UPDATA_TIME, REMARK
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from users
    where USERID = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from users
    where USERID = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cloud.consumer.pojo.Users" >
    insert into users (USERID, USER_NAME, USER_PASSWORD, 
      ISEXPIRED, ISLOCKED, CREAT_TIME, 
      UPDATA_TIME, REMARK)
    values (#{userid,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{isexpired,jdbcType=VARCHAR}, #{islocked,jdbcType=VARCHAR}, #{creatTime,jdbcType=TIMESTAMP}, 
      #{updataTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cloud.consumer.pojo.Users" >
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        USERID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userPassword != null" >
        USER_PASSWORD,
      </if>
      <if test="isexpired != null" >
        ISEXPIRED,
      </if>
      <if test="islocked != null" >
        ISLOCKED,
      </if>
      <if test="creatTime != null" >
        CREAT_TIME,
      </if>
      <if test="updataTime != null" >
        UPDATA_TIME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="isexpired != null" >
        #{isexpired,jdbcType=VARCHAR},
      </if>
      <if test="islocked != null" >
        #{islocked,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updataTime != null" >
        #{updataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cloud.consumer.pojo.Users" >
    update users
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="isexpired != null" >
        ISEXPIRED = #{isexpired,jdbcType=VARCHAR},
      </if>
      <if test="islocked != null" >
        ISLOCKED = #{islocked,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        CREAT_TIME = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updataTime != null" >
        UPDATA_TIME = #{updataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where USERID = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cloud.consumer.pojo.Users" >
    update users
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      ISEXPIRED = #{isexpired,jdbcType=VARCHAR},
      ISLOCKED = #{islocked,jdbcType=VARCHAR},
      CREAT_TIME = #{creatTime,jdbcType=TIMESTAMP},
      UPDATA_TIME = #{updataTime,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where USERID = #{userid,jdbcType=INTEGER}
  </update>
</mapper>